<!DOCTYPE html>
<html>
<head>
    <title>Usuarios</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Grupo</th>
                <th>Grado</th>
                <th>Numero</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in resultado %}
                <tr>
                    <td>{{ registro.0 }}</td>
                    <td>{{ registro.1 }}</td>
                    <td>{{ registro.2 }}</td>
                    <td>{{ registro.3 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>